<section id="about">
  <h2 class="bold">focus area</h2>
  <div class="boxes">
    <div class="box">
      <fa-icon [icon]="['fas', 'chalkboard-teacher']"></fa-icon>
      <h4 class="lead">lessons</h4>
      <p>Education is the best tool to use a key. Education is not a key. Financial education is the Master key to unlock your future. Master the skills, Learn 1st then earn. </p>
    </div>
    <div class="box">
      <fa-icon [icon]="['fas', 'chart-line']"></fa-icon>
      <h4 class="lead">signal</h4>
      <p>Well analysed and timely signals including forex, indices, volatility 75, all sent via whatsapp and telegram broadcast channel.</p>
    </div>
  </div>

 <div id="bg">
  <div id="grid">
    <img src="../../assets/img/IMG-20200301-WA0029.jpg" class="image" alt="Thendo Mankhili" title="Thendo Mankhili">
    <div class="bio">
      <h2 class="lead">ceo's message</h2>
      <p>Our African continent is revaged by unemployment and poverty, formal education and university degree, Connection of Corruption has Corrupted the system. Curruption is the new currency.

        We're heading to 4th Industrial revolution, we need to pace up with the fact that the world is changing very fast. New technology is here to help Our Countries to grow.

        Forex science is the science of making money using money, we need to adapt to new science of making money.

        Forex Science &trade; gives Trainings and Signls to help to reduce poverty rate. Financial education is very important. We can change the world if we're willing to change our thinking capabilities. The Future of Africa is in our hands. We can build it or destroy it.


        Mr Thendo Mankhili
        The Founder and CEO of Forex Science &trade;</p>
        <div class="social-icons">
          <a href="#" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'whatsapp']" title="Whatsapp"></fa-icon></a>
          <a href="#" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'telegram']" title="Telegram"></fa-icon></a>
          <a href="#" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'linkedin']" title="Linkedin"></fa-icon></a>
          <a href="#" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'instagram']" title="Instragram"></fa-icon></a>
        </div>
    </div>
      </div>


</div>
</section>

