section{
  position: absolute;
  min-height: 100vh;
  height: 100vh;
  min-width: 100vw;
  width: 100vw;
  background:  #ddd;
  overflow-x: hidden;
  overflow-y: scroll;


}
#grid{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 3rem;
}
h2.bold{
  text-transform: uppercase;
  text-align: center;
  margin-top: 3rem;
  color: #2892d0;
  font-weight: 900 !important;
}
img{
  max-width: 100%;
  background-size: cover;
  margin: 0 auto;
  /* width: 400px; */
  height: 400px;
  min-height: 100%;
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow:  0 0.125rem 0.25rem  rgba(0,0,0, 0.075) !important;
}
.bio h2{
  text-transform: uppercase;
  color: #2892d0;
}
.bio p{
  text-align: justify;
}
/* #bg{
  background-image: url(../../assets/img/IMG-20190923-WA0042.jpg);
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: 100%;
  margin-top: 0;
} */
.box fa-icon{
  font-size: 7rem;
  color:#2892d0; /*rgba(0,0,0,0.64);*/
  text-align: center;
}
 .boxes{

  display: grid;
  grid-template-columns: repeat(2,1fr);
  text-align: center;

}

.box h4{
  text-transform: uppercase;
  color: rgba(0,0,0,0.64);;
}
.box{
   padding: 10px;
  background: #fff;
  box-shadow:  0 0.125rem 0.25rem  rgba(0,0,0, 0.075) !important;
  margin: 1rem;
  /* border: 1px solid red; */
  border-radius: 5px;
  text-align: center;
}
.social-icons fa-icon {
  font-size: 3rem;
  color:rgba(0,0,0,0.64);
  cursor: pointer;
  /* padding: 7.5px 15px; */
  display: inline;
  text-align: center;
  margin-left: .45em;
}
.social-icons fa-icon:hover{
  color: red;
  background: white;
}


