<section id="about">
  <div class="row">
    <div class="col-md-6 col-sm-12 text-center">
      <h3>training</h3>
      <p class="pb-5 p-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, sapiente iure explicabo voluptates, exercitationem rem maxime soluta hic sint voluptatum temporibus ab numquam sunt. Fugit tempore doloribus doloremque perferendis illum?</p>
      <h3>forex signals</h3>
      <p class="p-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor unde vero animi rerum illum. Adipisci cumque sapiente reprehenderit vel, expedita mollitia, nam quam hic ad velit harum atque cupiditate sint.</p>

      <div class="social-icons text-center">
        <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'whatsapp']" title="Whatsapp"></fa-icon></a>
        <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'telegram']" title="Telegram"></fa-icon></a>
        <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'linkedin']" title="Linkedin"></fa-icon></a>
        <a href="" target="_blank" rel="noopener"><fa-icon [icon]="['fab', 'instagram']" title="Instragram"></fa-icon></a>
      </div>
    </div>
    <div class="col-md-6 col-sm-12">
      <h3 class="about-left alone">WE SPECIALIZE IN MOST MAJOR PAIRS</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quidem reprehenderit error placeat dignissimos at corrupti eveniet sint minima debitis iste!</p>
      <h3 class="about-left">FOREX SIGNALS CAN BE USED ON ANY TIME FRAME</h3>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi fugit impedit soluta corporis ea ipsum reiciendis quae qui dolorem explicabo.</p>
      <h3 class="about-left">Quality training</h3>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas ut voluptates adipisci incidunt laudantium labore cumque nobis eos aspernatur fugiat!</p>
      <h3 class="about-left">Real time telegram and whatsapp alert</h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum placeat, eum illo animi eaque quibusdam aspernatur odit quaerat earum libero?</p>



    </div>
  </div>
</section>
