
<!-- Hamburger Menu -->
<div class="menu-container" id="menu-bars" (click)="Toggle()">
  <div class="bar1"></div>
  <div class="bar2"></div>
  <div class="bar3"></div>
</div>

<!-- Mobile Navigation -->
<nav class="mobile-nav" id="mobile-nav">
  <ul class="nav-items" (click)="Toggle()">
      <li style="padding-top: 48px"></li>
      <a href="#home"><li>Home</li></a>
      <a href="#about"><li>About Us</li></a>
      <a href="#services"><li>services</li></a>
      <a href="#testimony"><li>testimonies</li></a>
      <a href="#contact-us"><li>Contact</li></a>
  </ul>
</nav>

<!-- Desktop Navigation -->
<div class="sidebar-container" (mouseover)="SidebarOn()" (mouseout)="SidebarOff()">
  <p class="sidebar-toggle" id="sidebar-toggle"><fa-icon [icon]="['fas', 'grip-vertical']" ></fa-icon></p>
  <ul class="sidebar-items desktop-nav display-none" id="desktop-nav">
      <a href="#home"><li class="home"><fa-icon [icon]="['fas', 'home']"></fa-icon></li></a>
      <a href="#about"><li>About Us</li></a>
      <a href="#services"><li>services</li></a>
      <a href="#testimony"><li>testimonies</li></a>
      <a href="#contact-us"><li>Contacts</li></a>
  </ul>
</div>
