<section id="testimony">
  <h2>Happy Clients</h2>
  <div id="grid">
    <!--  box one -->
    <div class="gridbox">
      <img src="../../assets/img/tes1.jpg" alt="">
      <div class="gridboxtxt">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ut?</p>
      </div>
    </div>
 <!--  box two -->
    <div class="gridbox">
      <img src="../../assets/img/tes2.jpg" alt="">
      <div class="gridboxtxt">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ut?</p>
      </div>
    </div>
     <!--  box three -->
    <div class="gridbox">
      <img src="../../assets/img/tes3.jpg" alt="">
      <div class="gridboxtxt">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ut?</p>
      </div>
    </div>
     <!--  box four -->
    <div class="gridbox">
      <img src="../../assets/img/tes4.jpg" alt="">
      <div class="gridboxtxt">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ut?</p>
      </div>
    </div>
     <!--  box fiv -->
    <div class="gridbox">
      <img src="../../assets/img/tes5.jpg" alt="">
      <div class="gridboxtxt">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ut?</p>
      </div>
    </div>
     <!--  box six -->
    <div class="gridbox">
      <img src="../../assets/img/tes6.jpg" alt="">
      <div class="gridboxtxt">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ut?</p>
      </div>
    </div>
     <!--  box seven -->
    <div class="gridbox">
      <img src="../../assets/img/tes7.jpg" alt="">
      <div class="gridboxtxt">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ut?</p>
      </div>
    </div>
     <!--  box eight -->
    <div class="gridbox">
      <img src="../../assets/img/tes8.jpg" alt="">
      <div class="gridboxtxt">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, ut?</p>
      </div>
    </div>
   
  </div>
</section>
