<section id="services">
  <h2>our packages</h2>
  <div class="maimbox">
<div class="subbox">
  <img src="../../assets/img/silver-iphone-2068664.jpg"  alt="">
  <div class="text">
  <h5>First threshold</h5>
  <p><strong>Beginners & Advanced traders</strong></p>
  <p><fa-icon [icon]="['fas', 'tag']"></fa-icon> R5000.00[$500] once off</p>
  <ul>
  <li><fa-icon [icon]="['fas', 'check']"></fa-icon> Technical analysis </li>
  <li><fa-icon [icon]="['fas', 'check']"></fa-icon> Fundamental analysis</li>
  <li><fa-icon [icon]="['fas', 'check']"></fa-icon> 12 Months Free Premium signals</li>
  <li><fa-icon [icon]="['fas', 'check']"></fa-icon>  Tips & Hints</li>
  <li><fa-icon [icon]="['fas', 'check']"></fa-icon>  Trade together Events</li>
  <li><fa-icon [icon]="['fas', 'check']"></fa-icon> 24/5 hrs Trading Supports & Updates</li>
  <li><fa-icon [icon]="['fas', 'check']"></fa-icon>  Question and Answer Support</li>
  <li><fa-icon [icon]="['fas', 'check']"></fa-icon> Fx Science  Tricks</li>
  <li><fa-icon [icon]="['fas', 'check']"></fa-icon>  + Use mt4 Super 5 indicators</li>
  <li><fa-icon [icon]="['fas', 'check']"></fa-icon>  1 Year Mentorship</li>
  <li><fa-icon [icon]="['fas', 'check']"></fa-icon> All in Broadcast Channel </li>
  <li><fa-icon [icon]="['fas', 'check']"></fa-icon> Risk management  vs Money Management</li>
  <li><fa-icon [icon]="['fas', 'check']"></fa-icon> Psychological science Trading</li>

  </ul>
  <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-primary">subscribe</a>
  </div>
</div>
<div class="subbox">
  <img src="../../assets/img/forex-.png"  alt="">
  <div class="text">
  <h5>second threshold</h5>
  <p><strong>Advanced Traders</strong></p>
  <p><fa-icon [icon]="['fas', 'tag']"></fa-icon> R5000.00[$500]</p>
  <ul>
  <li> <fa-icon [icon]="['fas', 'check']"></fa-icon> Technical analysis</li>
  <li><fa-icon [icon]="['fas', 'check']"></fa-icon> Fundamental analysis</li>
  <li><fa-icon [icon]="['fas', 'check']"></fa-icon> 12 Months Free Premium signals</li>
  <li><fa-icon [icon]="['fas', 'check']"></fa-icon> Tips & Hints</li>
  <li><fa-icon [icon]="['fas', 'check']"></fa-icon> 1 Year Mentorship</li>
  <li><fa-icon [icon]="['fas', 'check']"></fa-icon> Risk management  vs Money Management</li>
  <li><fa-icon [icon]="['fas', 'check']"></fa-icon> Psychological science Trading</li>
  </ul>
  <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-primary">subscribe</a>
  </div>
</div>
<div class="subbox">
  <img src="../../assets/img/dis.png" alt="">
  <div class="text">
  <p><strong>DISTANCE IS NOT A BARRIER, WE DO OFFER ONLINE LESSONS</strong></p>
  <ul>
    <li><fa-icon [icon]="['fas', 'check']"></fa-icon> DU videos</li>
    <li><fa-icon [icon]="['fas', 'check']"></fa-icon> Telephonic Support </li>
    <li><fa-icon [icon]="['fas', 'check']"></fa-icon> WhatsApp group access </li>
    <li><fa-icon [icon]="['fas', 'check']"></fa-icon> 12 months free Signals</li>
  </ul>
  <P>
    Couple R9000.00[$800]<br/>
Trio R13 500.00[$1200]<br/>
4 people R18 500.00<br/>
Trading  Institutions R15 000.00
  </P>
  <p><i>All Telephonic calls in RSA</i></p>
  <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-primary">subscribe</a>
  </div>
</div>
<div class="subbox">
  <img src="../../assets/img/thrid.png" alt="">
  <div class="text">
    <h5>third threshold</h5>
    <p><strong>Signals Subscription Fees</strong></p>
    <p><fa-icon [icon]="['fas', 'tag']"></fa-icon> R1000.00[$80.00]</p>
    <p>+10 Signals  a day<br/>
    <p>Indices Signals <fa-icon [icon]="['fas', 'tag']"></fa-icon>($100 ) R1500. 00 +5 Signals a day </p><br/>
    <p>
        VOLATILITY 75 INDEX SIGNALS
100% VOLATILITY 75 ONLY <fa-icon [icon]="['fas', 'tag']"></fa-icon>R1 500.00 from
3 TO 5 SIGNALS A DAY
      </p>
      <fa-icon [icon]="['fas', 'tag']"></fa-icon>R2500.00
        Both Tags
        +10 SIGNALS A DAY FOR A MONTH
        40 Days
        <p>
          <p>
            ALL 3 TAGS
R3000. 00 FOR 40 DAYS
          </p>
          <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-primary">subscribe</a>

  </div>
</div>
<div class="subbox">
  <img src="../../assets/img/forex-indices.png" alt="">
  <div class="text">
    <h5>INDICES SIGNALS</h5>
    <p><strong>100% INDICES 30 days</strong></p>
    <p><fa-icon [icon]="['fas', 'tag']"></fa-icon> R1500.00[$100]</p>
 <ul>
   <li><li><fa-icon [icon]="['fas', 'check']"></fa-icon> NAS100 </li>
   <li><li><fa-icon [icon]="['fas', 'check']"></fa-icon> SPX500</li>
   <li><li><fa-icon [icon]="['fas', 'check']"></fa-icon> GERMANY 30</li>
   <li><li><fa-icon [icon]="['fas', 'check']"></fa-icon> USA30</li>
   <li><li><fa-icon [icon]="['fas', 'check']"></fa-icon> JAPAN 225 AND MORE</li>
 </ul>
 <a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-primary">subscribe</a>
  </div>
</div>
<div class="subbox">
  <img src="../../assets/img/forex-2.png" alt="">
  <div class="text">
 <h5>FOREX CURRENCIES SIGNALS</h5>
 <p><fa-icon [icon]="['fas', 'tag']"></fa-icon> R1000.00[$80.00]</p>
 <p><strong>+10 SIGNALS A DAY CURRENCIES + COMMODITIES +30% OF INDICES 30 days SUBSCRIPTION </strong></p>
<ul>
  <li><li><fa-icon [icon]="['fas', 'check']"></fa-icon> CROSS PAIRS</li>
  <li><li><fa-icon [icon]="['fas', 'check']"></fa-icon> MAJOR PAIRS</li>
  <li><li><fa-icon [icon]="['fas', 'check']"></fa-icon> EXOTICS PAIRS</li>
  <li><li><fa-icon [icon]="['fas', 'check']"></fa-icon> COMMODITIES </li>
</ul>
<a href="#" target="_blank" rel="noopener noreferrer" class="btn btn-lg btn-primary">subscribe</a>
    </div>
</div>
</div>
</section>

